.navbar-default
    { 
        background-color: cornflowerblue;
    }
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text
     {
        color: wheat;
        font-size: 14px;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand 
    {
        margin-left: -15px;
        color: burlywood;
    }
    .confirm_request 
    {
        background-color: darkseagreen;
        border-color: #d6e9c6;
        color: floralwhite;
    }
    .accetped_img
    {
       margin-top: 18px;
        margin-left: 11px;
        margin-bottom: 24px;
    }
  
    .accepted_user 
    {
        margin-top: 21px;
    }
    .requeste_user
    {
        margin-left: -46px;
        margin-top: -18px;
    }
    .requeste_img
    {
        margin-bottom: 12px;
    }
    .badge_content
    {
        background:red;
        position: relative;
        top: -15px;
        left: -10px;
    }

    .badge_content_msg
    {
        background: red;
        position: relative;
        top: -19px;
        left: -11px;
    }
    
    .border_line
    {
        border-color: cornflowerblue;
        width: 94%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .user_profile
    {
        background-color: lightsteelblue;
        margin-top: 11px;
    }
    .user_name
    {
        font-size: 27px;
        margin-left: 70px;
    }
    .user_form
    {
        margin-left: 56px;
        margin-top: 15px;
    }
    .btn-info {
    color: #fff;
    background-color: cadetblue;
    border-color: currentColor;
}
.form_post
{
        margin-left: 33px;
    margin-top: 22px;
}
.post_head
{
    margin-left: 37px;
    margin-top: 14px;
    margin-bottom: -17px;
    width: 156px;
    height: 28px;
    text-align: center;
}

.post_img
 {
    height: 53px;
    width: 81%;
    margin-top: 16px;
    margin-left: -13px;
}

.sidebar_tag
{
 
}
 .all_info li a
{
    list-style-type: none;
    font-size: 18px;
    color: darkgreen;
    text-decoration: none;
}
.user_post_content
{
    margin-left: -52px;
    margin-top: -8px;
}

.post_upload_img
{
    width: 260px;
    height: 115px;
    margin-bottom: 20px;
    margin-top: 34px;
    margin-left: -69px;
}